<!DOCTYPE html>
<html>
<head>
    <title>Edit {{ todo_list.name }}</title>
</head>
<body>
    <main>
        <div>
            <h1>Edit {{ todo_list.name }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save changes</button>
            </form>
        </div>
    </main>
</body>
</html>
