<!DOCTYPE html>
<html>
<head>
    <title>Todo Lists</title>
</head>
<body>
    <h1>Todo Lists</h1>
    <table border=
    <ul>
        {% for todo_list in todo_lists %}
            <li>{{ todo_list.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
