<html>
<head>
    <title>Todo Lists</title>
</head>
<body>
    <h1>Todo Lists</h1>
    <main>
        <div>
            <table border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_list in todo_lists %}
                        <tr>
                            <td>{{ todo_list.name }}</td>
                            <td></td> <!-- Placeholder for number of items -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
