<!DOCTYPE html>
<html>
<head>
    <title>Todo Lists</title>
</head>
<body>
    <h1>Todo Lists</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
            </tr>
        </thead>
        <tbody>
            {% for todo_list in todo_lists %}
                <tr>
                    <td>{{ todo_list.name }}</td>
                    <td></td> <!-- Placeholder for number of itmes -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </body
    <ul>
        {% for todo_list in todo_lists %}
            <li>{{ todo_list.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
