<!DOCTYPE html>
<html>
<head>
    <title>Todo List Detail</title>
</head>
<body>
    <h1>{{ todo_list.name }}</h1>
    <p>Created on: {{ todo_list.created_on }}</p>
    <h2>Tasks</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
                <th>Is Completed</th>
            </tr>
        </thead>
        <tbody>
            {% for item in todo_items %}
                <tr>
                    <td>{{ item.task }}</td>
                    <td>{{ item.due_date }}</td>
                    <td>{{ item.is_completed }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'todo_list_list' %}">Back to list</a>
</body>
</html>
