<!DOCTYPE html>
<html>
<head>
    <title>Create a new item</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="task" placeholder="Task" required>
                <input type="text" name="due_date" placeholder="Due date" required>
                <input type="checkbox" name="is_completed"> Is completed
                <select name="ist">
                    {% for list in todo_lists %}
                        <option value="{{ list.id }}">{{ list.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>
</html>
