<!DOCTYPE html>
<html>
<head>
    <title>{{ todo_list.name }} - Todo List Detail</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <h2>Tasks</h2>
            <a href="{% url 'todo_list_update' todo_list.id %}">Edit this list</a>
            <table border="1">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_items %}
                        <tr>
                            <td>{{ item.task }}</td>
                            <td>{{ item.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'todo_list_list' %}">Back to list</a>
        </div>
    </main>
</body>
</html>
