<!DOCTYPE html>
<html>
<head>
    <title>Create a new item</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                <label for="task">Task:</label>
                <input type="text" id="task" name="task"><br>

                <label for="due_date">Due date:</label>
                <input type="text" id="due_date" name="due_date"><br>

                <label for="is_completed">Completed:</label>
                <input type="checkbox" id="is_completed" name="is_completed"><br>

                <label for="list">List:</label>
                <select id="list" name="list">
                    {% for todo_list in todo_lists %}
                        <option value="{{ todo_list.id }}">{{ todo_list.name }}</option>
                    {% endfor %}
                </select><br>

                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>
</html>
