{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Update item</title>
</head>
<body>
    <main>
        <div>
            <h1>Update item</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="task" value="{{ form.instance.task }}" placeholder="Task" required>
                <input type="text" name="due_date" value="{{ form.instance.due_date }}" placeholder="Due date" required>
                <input type="checkbox" name="is_completed" {% if form.instance.is_completed %}checked{% endif %}> Is completed
                <select name="list">
                    {% for list in todo_lists %}
                        <option value="{{ list.id }}" {% if list == form.instance.list %}selected{% endif %}>{{ list.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Update</button>
            </form>
        </div>
    </main>
</body>
</html>
