{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Update list</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <main>
        <div>
            <h1>Update list</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="name" value="{{ form.name.value }}">
                <button type="submit">Update</button>
            </form>
            {% if form.errors %}
                <div style="color: red;">
                    <p>Please correct the error{{ form.errors|pluralize }} below:</p>
                    {{ form.errors }}
                </div>
            {% endif %}
            <a href="{% url 'todo_list_list' %}">Back to list</a>
        </div>
    </main>
</body>
</html>
