{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Todo Lists</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Todo App</h1>
    </header>
    <nav>
        <a href="{% url 'todo_list_list' %}">Home</a>
        <a href="{% url 'todo_list_create' %}">Create a new list</a>
        <a href="{% url 'todo_item_create' %}">Create a new item</a>
    </nav>
    <main>
        <div>
            <h1>My lists</h1>

            <!-- Search Form -->
            <form method="GET" action="{% url 'todo_list_list' %}">
                <input type="text" name="q" placeholder="Search todo lists..." value="{{ request.GET.q }}">
                <button type="submit">Search</button>
            </form>

            <table border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_list in todo_lists %}
                        <tr>
                            <td><a href="{% url 'todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a></td>
                            <td>{{ todo_list.items.count }}</td>
                            <td>
                                <a href="{% url 'todo_list_update' todo_list.id %}">Edit</a>
                                <a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
